@import '~themes/vars';

.login {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../assets/images/bj-image.jpg') top left no-repeat;
  background-size: cover;
}

.icon {
  padding-left: 56px;
  padding-top: 2vh;
  img {
    width: 72px;
  }
}

.center {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: auto;

  form {
    width: 450px;
    padding: 80px 50px;
    background: #fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 20px 30px 0 rgba(63,63,65,.06);
  }

  .label {
    display: block;
    line-height: 20px;
    margin-bottom: 8px;
    color: #90909B;
  }

  :global {
    .title {
      padding-bottom: 32px;
      text-align: center;
      font-size: 24px;
      color: #12C2C2;
    }

    .ant-form-item-explain {
      margin-left: 47px;
      margin-top: 2px;
    }

    .username, .password {
      margin-bottom: 30px;
      &.ant-form-item-with-help {
        margin-bottom: 6px;
      }
    }

    .submit {
      width: 100%;
      height: 40px;
      margin-top: 26px;
      background: linear-gradient(94deg,rgba(187,255,219,1),rgba(25,203,203,1));
      border-radius: 30px;
      border: none;
    }

    .leftImage {
      width: 450px;
      height: 572px;
    }

    .ant-col {
      width: 100%;
    }

    .ant-form-item-has-error {
      .ant-input-password {
        border-color: #f5222d;

        input {
          border-color: transparent;
          box-shadow: none !important;
        }
      }

      .ant-input-affix-wrapper-focused {
        outline: 0;
      }
    }
    
    .ant-input-affix-wrapper-lg {
      padding: 10px 20px;
      border-radius: 30px;
    }

    .ant-input-prefix {
      margin-right: 10px;
    }

    input {
      font-size: 14px;
    }
  }
}

.footer {
  padding-bottom: 2.5%;
  line-height: 24px;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  text-align: center;
}