@import "./variables";
// 超出省略号
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.el-loading-spinner {
    font-size: 20px;
}
.cascader-loading {
    .el-loading-spinner {
        font-size: 14px;
        i {
            vertical-align: -4px;
        }
    }
}
.el-dropdown-link {
    font-size: 12px;
    cursor: pointer;
    color: $theme;
}
.tips {
    font-size: 12px;
    color: #ccc;
    line-height: 1.5;
}
.look, .look-word {
    color: $theme;
    font-size: 12px !important;
    font-weight: 500;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.fr { float: right; }
.dpinlineblock { display: inline-block; }
.dpflex { display: flex; }
.flex1 { flex: 1; }
.widthPct100 { width: 100%; }

.br4 {
    border-radius: 4px;
}

.mr0 {
    margin-right: 0px !important;
}
.mr6 {
    margin-right: 6px;
}
.mr8 {
    margin-right: 8px !important;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mr24 {
    margin-right: 24px;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}
.ml40 {
    margin-left: 40px;
}
.mt20 {
    margin-top: 20px;
}
.mt10 {
    margin-top: 10px;
}
.mb16 {
    margin-bottom: 16px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.fs12 {
    font-size: 12px;
}
.fs16 {
    font-size: 16px;
}
.fs18 {
    font-size: 18px;
}
.lh18 {
    line-height: 18px;
}
.vamiddle {
    vertical-align: middle;
}
.tx {
    text-align: center;
}
.inline {
    display: inline-block;
}
.danger-color {
    color: #F56C6C;
}
// table数据总览
.table-pandect {
    font-size: 13px;
    margin-top: 5px;
    padding: 6px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #e6f7ff;
    b {
        color: $theme;
    }
    span {
        font-size: 14px;
        color: red;
        font-weight: bold;
    }
}
// table内的img
.table-img {
    width: 50px;
    cursor: zoom-in;
    text-align: center
}
// 底边框0-100%渐变效果
.gradient-border-bottom {
    background: #fff;
    transition: 600ms ease all;
    &:hover {
        background: #fff;
        cursor: pointer;
        color: $theme;
        &:after {
            width: 100%;
            background: $theme;
            transition: 600ms ease all;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        transition: 400ms ease all;
    }
    &::after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }
}

.im-history-dialog{
    .el-dialog__body{
        padding: 10px 20px 30px 20px;
    }
}
.row-height-light-normal{
    background-color: #f0f9eb !important;
}

.right-popup{
    .pagination{
            width:58% !important
    }
}

/*
 * 新版规范样式
 */
// 表头单元格
.n-table-header-cell-class {
    color: #606266;
    font-size: 12px;
    background-color: #f2f6fc !important;
}
// 表格主体单元格
.n-table-cell-class {
  padding: 12px 10px !important;
}
.n-table-cell-class .cell {
  padding-right: 0px;
  padding-left: 0px !important;
  color: #606266;
  line-height: 21px !important;
}
// 文字操作按钮间的 分割线 （2.4版本没有 Divider 只能写样式）
.divider {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    position: relative;
    background-color: #1890ff;
}
// 可点击的操作文字
.operationText {
    color: rgba(24, 144, 255, 1);
    font-size: 12px;
    cursor: pointer;
}


.app-main{
    .el-range-editor--small.el-input__inner{
        height: 32px !important;
        line-height: 32px !important;
    }
    .el-input--small .el-input__inner{
        height: 32px !important;
        line-height: 32px !important;
    }
    .el-button--small{
        padding:8px 15px;
        font-size: 14px;
    }
    .el-pagination__jump{
        margin-left: 0 !important;
    }
    .el-table thead{
        color:#606266;
    }
    .el-table__header,.el-table__header-wrapper{
        .is-leaf{
            background-color: #f2f6fc !important;
        }
        .is-center{
            text-align: left;
        }
    }
    .el-table__row{
        .is-center{
            text-align: left;
        }
    }
    .el-table-column--selection{
        .cell{
            display: flex;
            justify-content: center;
        }
    }
}
.el-dropdown-menu{
    .el-dropdown-menu__item{
        border-bottom:none !important;
        span{
            color:rgb(45, 140, 240) !important;
        }
    }
}
.el-dialog__header{
    // background-color: #fff;
    // color:#000;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
    border-color: #cbced5;
}
.common-table-wrapper{
    padding:0 16px;
    background-color: #fff;
    min-height:calc(100vh - 150px);
}
// .el-button--mini{
//     padding: 8px 15px;
//     font-size: 14px;
//     border-radius: 3px;
// }
