@import "./navMenu";
@import "./element-variables";

#platformInfoSetting .el-upload--picture-card {
    background: rgba(0, 0, 0, 0.6);
}

.el-form--inline {
    > div {
        margin-bottom: 10px;
    }
}

/* 分页样式 */
.el-pagination {
    text-align: right;
    padding: 10px 0 !important;
}
/* tree样式 */
// .el-tree {
//     .el-tree-node {
//         &:focus { /* focus */
//             > .el-tree-node__content {
//                 background-color: #0006;
//                 color: $border;
//             }
//         }
//     }
//     .is-current {
//         background-color: #0006;
//         color: $border;
//     }
// }
/* table样式 */
.el-table{
    //th {
    //    box-sizing: border-box;
    //    font-weight: bold;
    //    font-size: 13px;
    //}
    //&--small th, &--small td {
    //    box-sizing: border-box;
    //    padding: 4px 0;
    //}
    //
    //&__header, &__body, &__footer {
    //    table-layout: auto;
    //}
    //&__body, &__footer, &__header{
    //    table-layout: auto;
    //}
}

/* dialog样式 */
.el-dialog {
    &__header {
        background: $theme;
    }
    &__title, &__close {
        color: #fff !important;
    }
}

/* container样式 */
.el-aside, .el-main {
    padding: 0 !important;
    background: #fff;
    border: none;
}
.el-aside {
    margin-right: 20px;
}

/* button样式 */
.el-button {
    margin-right: 10px !important;
    & + .el-button {
        margin-left: 0 !important;
    }
}
.el-input--small .el-input__inner {
    height: 30px !important;
    line-height: 30px !important;
}
.el-range-editor--small.el-input__inner {
    height: 30px !important;
}

/* message */
.el-message {
    z-index: 9999999 !important;
    min-width: 280px !important;
    justify-content: center;
    &--error {
        background-color: #ff6666 !important;
        border-color: #ff6666 !important;
        color: #fff !important;
    }
    &--success {
        background-color: #71c182 !important;
        border-color: #71c182 !important;
        color: #fff !important;
    }
    &--warning {
        background-color: #e6a23c !important;
        border-color: #e6a23c !important;
        color: #fff !important;
    }
    &--info {
        background-color: #909399 !important;
        border-color: #909399 !important;
        color: #fff !important;
    }
    .el-message__icon, .el-message__content {
        color: #fff !important;
    }
}

.el-upload-dragger {
    min-width: 330px;
    width: auto;
}

//.el-switch {
//    &__core {
//        border-color: #ff4949;
//        background-color: #ff4949;
//    }
//    &.is-checked {
//        .el-switch__core {
//            border-color: #13ce66;
//            background-color: #13ce66;
//        }
//    }
//}

.el-message-box {
    border: none;
    &__header {
        background-color: $theme;
    }
    &__title, &__close {
        color: #fff !important;
    }
    &__content {
        padding-top: 20px;
    }
}

.el-tabs {
    &__header {
        margin: 0;
    }
}

.el-dropdown-menu {
    padding: 0;
    li:not(:last-of-type) {
        border-bottom: 1px solid $border;
    }
    &--small &__item {
        padding: 4px 20px;
    }
}
