.pageBlockContainer {
  margin-bottom: 16px;
  background-color: #fff;
}
.panelContainer {
  background-color: #fff;
  padding: 20px 16px;
}
.blockContainer {
  display: flex;
  flex-wrap: wrap;
}
.pageLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}
